<div class="fullbody">
  <h1 *ngIf="(WrongJSONFormat || !isJSONInputTouched || jsonInput == '')" class="title">Adjon meg egy JSON formátumú szöveget, amivel eseményeket juttat a naptárba!</h1>
  <h1 *ngIf="!WrongJSONFormat && isJSONInputTouched && jsonInput != ''" class="title">Remek! Mostantól adhat hozzá újakat vagy akár ki is törölheti, ha rájuk kattint!</h1>
  <div class="container">
    <div *ngIf="JSONNotselected">
      <div class="form-group">
        <label for="JSONInput">Adja meg a JSON szöveget</label>
        <input type="text" [class.is-invalid]="(jsonInput == '' || WrongJSONFormat) && isJSONInputTouched"
          class="form-control" id="JSONInput" placeholder="Enter JSON text" [(ngModel)]="jsonInput">
        <div class="alert alert-danger" *ngIf="jsonInput == '' && isJSONInputTouched">
          Ezt a mezőt kötelező kitölteni.
        </div>
        <div class="alert alert-danger" *ngIf="WrongJSONFormat && isJSONInputTouched">
          A formátum nem megfelelő, JSON-nek kell megfelelnie.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="create()">Feltöltés</button>
    </div>
    <div class="alert alert-success" *ngIf="!WrongJSONFormat && isJSONInputTouched && jsonInput != '' && !deleteSucceed">
      Sikeresen feltöltötte az adatokat.
    </div>
    <div *ngIf="initailazed">
      <div class="form-group">
        <label for="DateInput">Adja meg a kezdeti dátumot</label>
        <input [class.is-invalid]="startDate == 0 && isAddInputTouched" required type="date" class="form-control"
          id="DateInput" [(ngModel)]="startDate">
      </div>
      <div>
        <h4>Munkavégzés státuszának a kiválasztása</h4>
        <mat-form-field appearance="fill">
          <mat-label>Munkavégzés státusza</mat-label>
          <mat-select [(ngModel)]="selectedStatus">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="alert alert-danger" *ngIf="selectedStatus == '' && isAddInputTouched">
        A státusz mezőt nem szabad üresen hagyni.
      </div>
      <div *ngIf="selectedStatus == 'ph' || selectedStatus == 'ho'">
        <div class="form-group">
          <label for="TimeInput">Adja meg a kezdeti órát</label>
          <input [class.is-invalid]="startTime == 0 && isAddInputTouched" type="time" class="form-control"
            id="TimeInput" [(ngModel)]="startTime">
        </div>
        <h4>Munkavégzés időtartama</h4>
        <mat-form-field appearance="fill">
          <mat-label>Munkavégzés időtartama</mat-label>
          <mat-select [(ngModel)]="selectedHour">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{hour}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" (click)="readDate()">Hozzáadás</button>
      </div>
      <div class="alert alert-success" *ngIf="deleteSucceed">
        Sikeresen törölte az eseményt.
      </div>
    </div>
  </div>

</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{clickedEventName}}: {{clickedEventStart}} - {{clickedEventEnd}}</h4>
  </div>
  <div class="modal-body">
    <h2>Would you like to remove this event?</h2>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" (click)="deleteEvent(); modal.close('Deleted')">Delete event</button>
    <button type="submit" class="btn btn-secondary" (click)="modal.close('Canceled');">Close</button>
  </div>
</ng-template>
<div class="fullcalendar-container">
  <full-calendar style="height: 100px;" [deepChangeDetection]=true [options]="calendarOptions"></full-calendar>
</div>